@import url(varibles.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular", sans-serif;
}
body{
    background-color: var(--color-primario);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
body svg{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    fill: none;
    
}
path{
    /* offset-path:("M454.119 964.798C459.099 953.559 469.724 950.488 479.901 950.521C489.53 950.554 499.507 954.024 503.907 964.798C487.322 964.798 470.72 964.798 454.119 964.798Z"); */
    animation: move 3000ms infinite alternate ease-in-out;
}
@keyframes move{
    0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(10px, 10px);
      }
      100% {
        transform: translate(0, 0);
      }
}
.header{
    /* background-color: darkgoldenrod; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo__icono img {
    width: 3em;
}
.logo__titulo {
    color: var(--color-ternario);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}
.header__menu i{
    font-size: 3em;
    color: var(--color-ternario);
}
.titulo__card{
    /* background: green; */
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    padding: 0 0.5em
}
.titulo__card h2,
.titulo__card p{
    font-size: 2.3em;
    color: var(--color-ternario);
    text-transform: capitalize;
}
.titulo__card h2{
    font-family: "SF-Pro-Text-Heavy";
}
.titulo__card p{
    font-family: "SF-Pro-Text-Light";
    text-transform: capitalize;
}
.titulo__balance{
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
}
.balance__one,
.balance__two{
    display: flex;
    flex-direction: column;
    color: var(--color-ternario);
}
.balance__one small,
.balance__two small {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "SF-Pro-Text-Medium";
}
.balance__one label,
.balance__two label {
    font-size: 1.3em;
    font-family: "SF-Pro-Text-Bold";
}

.balance__one progress[value] {
    --color: var(--color-secundario);
    --background: var(--color-ternario);
    background: var(--background);
}

.balance__two progress[value] {
    --color: var(--color-cuarto);
    --background: var(--color-ternario);
    background: var(--background);
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 0 10px;
    height: .5em;
    border-radius: 10em;
}

.balance__one progress[value]::-webkit-progress-bar,
.balance__two progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    height: .5em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}
.footer{
    width: 100%;
    /* background: var(--color-primario); */
    position: fixed;
    bottom: 0;
}
.footer ul {
    display: flex;
    justify-content: space-around;
}
.footer ul li {
    list-style: none;
    margin: .5em 0;
}
.footer ul li a img{
    width: 2em;
}
