@import url(varibles.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular", sans-serif;
}
body{
    background-color: var(--color-primario);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.main {
    width: 100%;
    height: 85%;
}
body svg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    fill: none;
    object-fit: fill;
    
}
path{
    /* offset-path:("M454.119 964.798C459.099 953.559 469.724 950.488 479.901 950.521C489.53 950.554 499.507 954.024 503.907 964.798C487.322 964.798 470.72 964.798 454.119 964.798Z"); */
    animation: move 3000ms infinite alternate ease-in-out;
}
@keyframes move{
    0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(10px, 10px);
      }
      100% {
        transform: translate(0, 0);
      }
}
.header{
    /* background-color: darkgoldenrod; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo__icono img {
    width: 3em;
}
.logo__titulo {
    color: var(--color-ternario);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}
.header__menu i{
    font-size: 3em;
    color: var(--color-ternario);
}
.titulo__card{
    /* background: green; */
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    padding: 0 0.5em
}
.titulo__card h2,
.titulo__card p{
    font-size: 2.3em;
    color: var(--color-ternario);
    text-transform: capitalize;
}
.titulo__card h2{
    font-family: "SF-Pro-Text-Heavy";
}
.titulo__card p{
    font-family: "SF-Pro-Text-Light";
    text-transform: capitalize;
}
.titulo__balance{
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
}
.balance__one,
.balance__two{
    display: flex;
    flex-direction: column;
    color: var(--color-ternario);
}
.balance__one small,
.balance__two small {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "SF-Pro-Text-Medium";
}
.balance__one label,
.balance__two label {
    font-size: 1.3em;
    font-family: "SF-Pro-Text-Bold";
}

.balance__one progress[value] {
    --color: var(--color-secundario);
    --background: var(--color-ternario);
    background: var(--background);
}

.balance__two progress[value] {
    --color: var(--color-cuarto);
    --background: var(--color-ternario);
    background: var(--background);
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 0 10px;
    height: .5em;
    border-radius: 10em;
}

.balance__one progress[value]::-webkit-progress-bar,
.balance__two progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    height: .5em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}
.main__activities{
    display: flex;
    flex-direction: column;
    background-color: var(--color-ternario);
    padding: 1.5em .5em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: sticky;
    height: 68%;
    z-index: 1;
    top: 0;
    overflow-y: hidden;
}
.activities__service h3,
.activities__transactions h3{
    font-family: "SF-Pro-Text-bold";
    font-size: 1.3em;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.service__cards{
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    gap: 15px;
    padding: .5em;
}
.service__cards div{
    flex: 1;
    max-width: 30%;
    min-height: 150px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--color-primario);
    margin-bottom: .8em;


}
.service__cards div i{
    font-weight: 2em;
    font-size: 2.5em;
}
.activities__transactions{
    overflow: hidden;
}
.transactions__cards{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.transactions__item, .transactions__item- {
    display: flex;
    align-items: center;

}
.mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-left: 30px;
    width: 80%;
}
.right {
    align-items: end;
    justify-content: center;
    text-align: right;
    width: 20%;
}
.transactions__item i{
    color: green;
}
.transactions__item- i{
    color: red;
}
.footer{
    width: 100%;
    height: 6%;
    /* background: var(--color-primario); */
    position: fixed;
    bottom: 0;
    z-index: 100;

}
.footer ul {
    display: flex;
    justify-content: space-around;
}
.footer ul li {
    list-style: none;
    margin: .5em 0;
}
.footer ul li a img{
    width: 2em;
}
