<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Wallet</title>
    <link rel="stylesheet" href="/css/balance.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo_icono">
                <img src="/storage/img/icono.png" alt="">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>

    <main class="main">
        <section class="fondo">
            <div>1</div>
            <section class="total">
                <div class="dinero_total">
                    <h2>Total</h2>
                    <h2>Balance</h2>
                    <h2><sub>$</sub> 217,417</h2>
                </div>
            </section>
        </section>
        <section class="opciones">
            <button class="button_1">Assets</button>
            <button class="button_2">Debt</button>
            <button class="button_3">Income</button>
        </section>
        <section class="graficas">
            <img src="/storage/img/grafica.png">
        </section>
        <section class="anuncio">
            <div class="banner_anuncio">
                <div class="imagen">
                    <img src="/storage/img/tarjeta.png" />
                </div>
                <div class="contenido">
                    <div class="close"><i class='bx bx-x-circle'></i></div>
                        <h3>spending.</h3>
                        <small>You forgot to add debt card number at payment #1323. Add it now.</small>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="/storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="/views/cards.html"><img src="/storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="/views/balance.html"><img src="/storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="/storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="/index.html"><img src="/storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>